:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --hero-height-gap-bottom: 30vh;
    --hero-height-gap-top: 15vh;
    --mobile-width: 768px;
}

.orange {
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    
    --nav-color: rgb(250, 126, 59);
    --nav-color-light: rgb(255, 142, 81);
    --bg-theme: linear-gradient(315deg, rgb(243, 107, 55) 0%, rgb(243, 107, 55) 23%,rgb(244, 133, 60) 23%, rgb(244, 133, 60) 27%,rgb(245, 159, 64) 27%, rgb(245, 159, 64) 73%,rgb(245, 186, 69) 73%, rgb(245, 186, 69) 74%,rgb(246, 212, 73) 74%, rgb(246, 212, 73) 78%,rgb(247, 238, 78) 78%, rgb(247, 238, 78) 100%);
    --txt-dark: rgb(50, 50, 50);
    --txt-light: rgb(255, 255, 255);
    --bg-dark: rgb(41, 41, 41);
    --bg-dark-lighter: rgb(89, 89, 89);
    --bg-light: rgb(232, 232, 232);
    --bg-orange: rgb(255, 140, 0);
}

.list {
    background: var(--bg-theme);
}