.nav-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: all 0.3s ease 0s;
    background-color: var(--nav-color);
}

/* shadow at the bottom of the header */
.nav-container.shadow {
    box-shadow: 0 .5rem 1rem rgba(200, 185, 185, 0.15) !important;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo {
    display: flex;
    margin: auto var(--gap);
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dropdown {
    margin-right: 20px;
    padding: 0 10px;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown-content {
    position: fixed;
    top: var(--header-height);
    right: -250px; 
    width: 250px;
    box-shadow: -8px 0 16px 0 rgba(255, 255, 255, 0.2);
    z-index: 1;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    border-radius: var(--radius) 0 0 var(--radius);
    background-color: var(--nav-color);
}

.dropdown-content a {
    color: var(--txt-dark);
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    display: block;
    border-radius: var(--radius) 0 0 var(--radius);
}

.dropdown-content a:hover {
    background-color: var(--nav-color-light);
    text-decoration: underline;
    color: var(--txt-light);
}

.show {
    right: 0; 
}

.social-icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.social-icons a {
    display: inline-flex;
    margin-right: 10px;
    color: var(--txt-dark);
    transition: color 0.3s ease;
    padding: 10px;
}
.social-icons .prihlaska-button a {
    margin-right: 0;
}

.social-icons a:hover, .dropdown button:hover, .site-label:hover {
    color: var(--txt-light);
}

.social-icons svg {
    width: 24px;
    height: 24px;
}


.social-icons .prihlaska-button {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 30px;
    border: none;
    border-radius: var(--radius);
    text-decoration: none;
    background-color: var(--txt-dark);
    color: var(--txt-light);
    justify-content: center;
    transition: color 0.3s ease;
    font-size: 14px;
    padding: 0;
}

.social-icons .prihlaska-button:hover {
    background-color: var(--txt-light);
    color: var(--txt-dark);
}

.prihlaska-button span {
    margin: 0 20px;
}

@media (max-width: 768px) {
    .social-icons {
        margin-right: 0;
    }
    .social-icons a {
        margin-right: 5px;
    }
    .social-icons .prihlaska-button {
        min-width: 80px;
        border: none;
        color: var(--txt-light);
        white-space: nowrap;
    }
    .prihlaska-button span {
        margin: 0 10px;
    }
    .dropdown {
        margin-right: 10px;
        padding: 0 10px;
    }
    .dropdown-content {
        width: 200px;
        font-size: 1rem;
    }
    .dropdown-content a {
        height: 50px;
    }
    .site-label {
        display: none;
    }
}
